.detalhes-do-produto {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .detalhes-do-produto .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1743px;
    position: relative;
  }
  
  .detalhes-do-produto .overlap {
    position: absolute;
    width: 1440px;
    height: 48px;
    top: 0;
    left: 0;
  }
  
  .detalhes-do-produto .top-header {
    position: absolute;
    width: 1440px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: var(--button);
  }
  
  .detalhes-do-produto .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 231px;
    position: relative;
    top: 12px;
    left: 445px;
  }
  
  .detalhes-do-produto .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .text-wrapper {
    position: relative;
    width: 474px;
    height: 18px;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .detalhes-do-produto .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--text);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .detalhes-do-produto .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .detalhes-do-produto .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .detalhes-do-produto .frame-4 {
    display: inline-flex;
    align-items: flex-start;
    gap: 231px;
    position: relative;
    top: 12px;
    left: 401px;
  }
  
  .detalhes-do-produto .header {
    display: inline-flex;
    align-items: center;
    gap: 130px;
    position: absolute;
    top: 88px;
    left: 135px;
  }
  
  .detalhes-do-produto .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 160px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .logo {
    position: relative;
    width: 118px;
    height: 24px;
  }
  
  .detalhes-do-produto .text-wrapper-4 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--heading-24px-bold-font-family);
    font-weight: var(--heading-24px-bold-font-weight);
    color: var(--text-2);
    font-size: var(--heading-24px-bold-font-size);
    letter-spacing: var(--heading-24px-bold-letter-spacing);
    line-height: var(--heading-24px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-bold-font-style);
  }
  
  .detalhes-do-produto .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .div-wrapper {
    position: relative;
    width: 48px;
    height: 24px;
  }
  
  .detalhes-do-produto .home {
    position: absolute;
    top: -1px;
    left: 3px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .detalhes-do-produto .contact-wrapper {
    position: relative;
    width: 66px;
    height: 24px;
  }
  
  .detalhes-do-produto .contact {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .detalhes-do-produto .about {
    position: absolute;
    top: -1px;
    left: 1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .detalhes-do-produto .sign-up-wrapper {
    position: relative;
    width: 61px;
    height: 24px;
  }
  
  .detalhes-do-produto .sign-up {
    position: absolute;
    top: -1px;
    left: 9px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .detalhes-do-produto .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .search-component-set {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--secondary);
    border-radius: 4px;
  }
  
  .detalhes-do-produto .frame-8 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .what-are-you-looking {
    position: relative;
    width: fit-content;
    opacity: 0.5;
    font-family: var(--title-12px-regular-font-family);
    font-weight: var(--title-12px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-12px-regular-font-size);
    letter-spacing: var(--title-12px-regular-letter-spacing);
    line-height: var(--title-12px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-12px-regular-font-style);
  }
  
  .detalhes-do-produto .frame-9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .img-2 {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .detalhes-do-produto .with-buy {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(https://c.animaapp.com/BXRmpMIb/img/cart1-4.svg);
    background-size: 100% 100%;
  }
  
  .detalhes-do-produto .overlap-group {
    position: absolute;
    width: 1440px;
    height: 21px;
    top: 142px;
    left: 0;
  }
  
  .detalhes-do-produto .line {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 0;
    left: 0;
    background-image: url(https://c.animaapp.com/BXRmpMIb/img/line-3-1.svg);
    background-size: 100% 100%;
  }
  
  .detalhes-do-produto .roadmap {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 0;
    left: 125px;
  }
  
  .detalhes-do-produto .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.5;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .detalhes-do-produto .line-2 {
    position: relative;
    width: 6.89px;
    height: 12.2px;
    object-fit: cover;
  }
  
  .detalhes-do-produto .nothing {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .detalhes-do-produto .image-wrapper {
    position: absolute;
    width: 500px;
    height: 600px;
    top: 243px;
    left: 325px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .image {
    position: absolute;
    width: 446px;
    height: 315px;
    top: 154px;
    left: 27px;
  }
  
  .detalhes-do-produto .img-wrapper {
    position: absolute;
    width: 170px;
    height: 138px;
    top: 243px;
    left: 125px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .image-2 {
    position: absolute;
    width: 121px;
    height: 114px;
    top: 12px;
    left: 24px;
  }
  
  .detalhes-do-produto .frame-10 {
    position: absolute;
    width: 170px;
    height: 138px;
    top: 397px;
    left: 125px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .image-3 {
    position: absolute;
    width: 112px;
    height: 97px;
    top: 20px;
    left: 29px;
  }
  
  .detalhes-do-produto .frame-11 {
    position: absolute;
    width: 170px;
    height: 138px;
    top: 551px;
    left: 125px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .image-4 {
    position: absolute;
    width: 134px;
    height: 94px;
    top: 22px;
    left: 18px;
  }
  
  .detalhes-do-produto .frame-12 {
    position: absolute;
    width: 170px;
    height: 138px;
    top: 705px;
    left: 125px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .image-5 {
    position: absolute;
    width: 122px;
    height: 106px;
    top: 16px;
    left: 24px;
  }
  
  .detalhes-do-produto .text-wrapper-6 {
    position: absolute;
    top: 242px;
    left: 895px;
    font-family: var(--heading-24px-semibold-font-family);
    font-weight: var(--heading-24px-semibold-font-weight);
    color: var(--text-2);
    font-size: var(--heading-24px-semibold-font-size);
    letter-spacing: var(--heading-24px-semibold-letter-spacing);
    line-height: var(--heading-24px-semibold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-semibold-font-style);
  }
  
  .detalhes-do-produto .text-wrapper-7 {
    position: absolute;
    top: 319px;
    left: 895px;
    font-family: var(--heading-24px-regular-font-family);
    font-weight: var(--heading-24px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--heading-24px-regular-font-size);
    letter-spacing: var(--heading-24px-regular-letter-spacing);
    line-height: var(--heading-24px-regular-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-regular-font-style);
  }
  
  .detalhes-do-produto .frame-13 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 283px;
    left: 895px;
  }
  
  .detalhes-do-produto .div-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .img-3 {
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .line-3 {
    position: relative;
    width: 1px;
    height: 16px;
    object-fit: cover;
  }
  
  .detalhes-do-produto .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.6;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--button-1);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .detalhes-do-produto .p {
    position: absolute;
    width: 373px;
    top: 367px;
    left: 895px;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: #000000;
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    font-style: var(--title-14px-regular-font-style);
  }
  
  .detalhes-do-produto .frame-15 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 479px;
    left: 896px;
  }
  
  .detalhes-do-produto .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-20px-regular-font-family);
    font-weight: var(--heading-20px-regular-font-weight);
    color: #000000;
    font-size: var(--heading-20px-regular-font-size);
    letter-spacing: var(--heading-20px-regular-letter-spacing);
    line-height: var(--heading-20px-regular-line-height);
    white-space: nowrap;
    font-style: var(--heading-20px-regular-font-style);
  }
  
  .detalhes-do-produto .star-half-filled {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .detalhes-do-produto .overlap-group-2 {
    position: relative;
    height: 20px;
    border-radius: 10px;
  }
  
  .detalhes-do-produto .ellipse {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    background-color: #a0bce0;
    border-radius: 6px;
  }
  
  .detalhes-do-produto .ellipse-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--text-2);
  }
  
  .detalhes-do-produto .ellipse-3 {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--hover-button);
    border-radius: 10px;
  }
  
  .detalhes-do-produto .under-line {
    position: absolute;
    width: 400px;
    height: 1px;
    top: 454px;
    left: 895px;
    opacity: 0.5;
    background-image: url(https://c.animaapp.com/BXRmpMIb/img/line-1-3.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .detalhes-do-produto .frame-16 {
    display: flex;
    width: 159px;
    height: 44px;
    align-items: flex-start;
    position: absolute;
    top: 579px;
    left: 896px;
  }
  
  .detalhes-do-produto .icon-minus-wrapper {
    position: relative;
    width: 40px;
    height: 44px;
    border-radius: 4px 0px 0px 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000080;
  }
  
  .detalhes-do-produto .icon-minus {
    left: 8px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
  }
  
  .detalhes-do-produto .frame-17 {
    position: relative;
    width: 80px;
    height: 44px;
    margin-left: -1px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #00000080;
  }
  
  .detalhes-do-produto .text-wrapper-10 {
    position: absolute;
    top: 7px;
    left: 34px;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text-2);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
  }
  
  .detalhes-do-produto .icon-plus-wrapper {
    position: relative;
    width: 41px;
    height: 44px;
    margin-left: -1px;
    background-color: var(--secondary-2);
    border-radius: 0px 4px 4px 0px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .icon-plus {
    left: 9px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
  }
  
  .detalhes-do-produto .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 48px;
    position: absolute;
    top: 579px;
    left: 1071px;
    background-color: var(--button-2);
    border-radius: 4px;
  }
  
  .detalhes-do-produto .add-to-cart {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-medium-font-family);
    font-weight: var(--title-16px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-16px-medium-font-size);
    letter-spacing: var(--title-16px-medium-letter-spacing);
    line-height: var(--title-16px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-medium-font-style);
  }
  
  .detalhes-do-produto .wishlist-wrapper {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 580px;
    left: 1254px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000080;
  }
  
  .detalhes-do-produto .wishlist {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 4px;
    left: 4px;
  }
  
  .detalhes-do-produto .frame-18 {
    position: absolute;
    width: 399px;
    height: 180px;
    top: 663px;
    left: 896px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: #00000080;
  }
  
  .detalhes-do-produto .overlap-2 {
    position: absolute;
    width: 399px;
    height: 76px;
    top: 24px;
    left: 0;
  }
  
  .detalhes-do-produto .under-line-2 {
    position: absolute;
    width: 399px;
    height: 1px;
    top: 65px;
    left: 0;
    opacity: 0.5;
    background-image: url(https://c.animaapp.com/BXRmpMIb/img/line-1-4.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .detalhes-do-produto .frame-19 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .detalhes-do-produto .img-4 {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .detalhes-do-produto .frame-20 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-medium-font-family);
    font-weight: var(--title-16px-medium-font-weight);
    color: #000000;
    font-size: var(--title-16px-medium-font-size);
    letter-spacing: var(--title-16px-medium-letter-spacing);
    line-height: var(--title-16px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-medium-font-style);
  }
  
  .detalhes-do-produto .text-wrapper-12 {
    position: relative;
    width: 217px;
    height: 44px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: underline;
  }
  
  .detalhes-do-produto .frame-21 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 106px;
    left: 16px;
  }
  
  .detalhes-do-produto .devolu-o-gratuita-em {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .detalhes-do-produto .span {
    font-family: var(--title-12px-medium-font-family);
    font-weight: var(--title-12px-medium-font-weight);
    color: #000000;
    font-size: var(--title-12px-medium-font-size);
    letter-spacing: var(--title-12px-medium-letter-spacing);
    line-height: var(--title-12px-medium-line-height);
    font-style: var(--title-12px-medium-font-style);
  }
  
  .detalhes-do-produto .text-wrapper-13 {
    text-decoration: underline;
  }
  
  .detalhes-do-produto .frame-22 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    position: absolute;
    top: 846px;
    left: 125px;
  }
  
  .detalhes-do-produto .category-rectangle {
    position: relative;
    width: 20px;
    height: 40px;
    background-color: var(--secondary-2);
    border-radius: 4px;
  }
  
  .detalhes-do-produto .text-wrapper-14 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-semibold-font-family);
    font-weight: var(--title-16px-semibold-font-weight);
    color: var(--secondary-2);
    font-size: var(--title-16px-semibold-font-size);
    letter-spacing: var(--title-16px-semibold-letter-spacing);
    line-height: var(--title-16px-semibold-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-semibold-font-style);
  }
  
  .detalhes-do-produto .frame-23 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .div-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .div-4 {
    position: relative;
    width: 270px;
    height: 250px;
    background-color: var(--secondary);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .detalhes-do-produto .overlap-group-3 {
    position: relative;
    width: 246px;
    height: 203px;
    top: 12px;
    left: 12px;
  }
  
  .detalhes-do-produto .discount-percent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 12px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-2);
    border-radius: 4px;
  }
  
  .detalhes-do-produto .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-12px-regular-font-family);
    font-weight: var(--title-12px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-12px-regular-font-size);
    letter-spacing: var(--title-12px-regular-letter-spacing);
    line-height: var(--title-12px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-12px-regular-font-style);
  }
  
  .detalhes-do-produto .frame-24 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 212px;
  }
  
  .detalhes-do-produto .img-wrapper-2 {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 17px;
  }
  
  .detalhes-do-produto .img-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    left: 5px;
  }
  
  .detalhes-do-produto .frame-25 {
    position: absolute;
    width: 190px;
    height: 180px;
    top: 23px;
    left: 28px;
  }
  
  .detalhes-do-produto .g-x {
    position: absolute;
    width: 172px;
    height: 152px;
    top: 14px;
    left: 9px;
  }
  
  .detalhes-do-produto .frame-26 {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .element {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-medium-font-family);
    font-weight: var(--title-16px-medium-font-weight);
    color: var(--secondary-2);
    font-size: var(--title-16px-medium-font-size);
    letter-spacing: var(--title-16px-medium-letter-spacing);
    line-height: var(--title-16px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-medium-font-style);
  }
  
  .detalhes-do-produto .element-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.5;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: var(--button);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: line-through;
    white-space: nowrap;
  }
  
  .detalhes-do-produto .text-wrapper-16 {
    position: relative;
    width: 32px;
    height: 20px;
    margin-top: -1px;
    opacity: 0.5;
    font-family: var(--title-14px-semibold-font-family);
    font-weight: var(--title-14px-semibold-font-weight);
    color: var(--text-2);
    font-size: var(--title-14px-semibold-font-size);
    letter-spacing: var(--title-14px-semibold-letter-spacing);
    line-height: var(--title-14px-semibold-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-semibold-font-style);
  }
  
  .detalhes-do-produto .overlap-group-4 {
    position: absolute;
    width: 246px;
    height: 183px;
    top: 12px;
    left: 12px;
  }
  
  .detalhes-do-produto .ak-wrapper {
    position: absolute;
    width: 190px;
    height: 180px;
    top: 3px;
    left: 28px;
  }
  
  .detalhes-do-produto .ak {
    position: absolute;
    width: 190px;
    height: 101px;
    top: 40px;
    left: 0;
  }
  
  .detalhes-do-produto .add-to-cart-wrapper {
    position: absolute;
    width: 270px;
    height: 41px;
    top: 209px;
    left: 0;
    background-color: var(--button);
    border-radius: 0px 0px 4px 4px;
  }
  
  .detalhes-do-produto .add-to-cart-2 {
    position: absolute;
    top: 7px;
    left: 87px;
    font-family: var(--title-16px-medium-font-family);
    font-weight: var(--title-16px-medium-font-weight);
    color: #ffffff;
    font-size: var(--title-16px-medium-font-size);
    letter-spacing: var(--title-16px-medium-letter-spacing);
    line-height: var(--title-16px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-medium-font-style);
  }
  
  .detalhes-do-produto .gcq-x {
    position: absolute;
    width: 170px;
    height: 129px;
    top: 26px;
    left: 10px;
  }
  
  .detalhes-do-produto .overlap-group-5 {
    position: relative;
    width: 218px;
    height: 203px;
    top: 12px;
    left: 40px;
  }
  
  .detalhes-do-produto .frame-27 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 184px;
  }
  
  .detalhes-do-produto .gammaxx-argb-wrapper {
    position: absolute;
    width: 190px;
    height: 180px;
    top: 23px;
    left: 0;
  }
  
  .detalhes-do-produto .gammaxx-argb {
    position: absolute;
    width: 190px;
    height: 95px;
    top: 47px;
    left: 0;
  }
  
  .detalhes-do-produto .four-half-star {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .detalhes-do-produto .vector {
    position: relative;
    width: 14.5px;
    height: 14.3px;
  }

  .frame-25:hover {
    transition: transform 0.2s;
    transform: scale(1.13);
    cursor: pointer;
  
  }
  
  .ak-wrapper:hover {
    transition: transform 0.2s;
    transform: scale(1.13);
    cursor: pointer;
  
  }

  .gammaxx-argb-wrapper:hover {
    transition: transform 0.2s;
    transform: scale(1.13);
    cursor: pointer;
  
  }

  .add-to-cart:hover {
    transition: transform 0.2s;
    transform: scale(1.13);
    cursor: pointer;
  
  }

  .home:hover { 
    transition: transform 0.2s;
    transform: scale(1.2);
    cursor: pointer;
  }

  .sign-up-wrapper:hover { 
    transition: transform 0.2s;
    transform: scale(1.2);
    cursor: pointer;
  }

  .with-buy:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
    cursor: pointer;
  }
  
