:root {
    --text: rgba(250, 250, 250, 1);
    --text-2: rgba(0, 0, 0, 1);
    --button-1: rgba(0, 255, 102, 1);
    --secondary-2: rgba(219, 68, 68, 1);
    --button: rgba(0, 0, 0, 1);
    --hover-button: rgba(224, 117, 117, 1);
    --primary: rgba(255, 255, 255, 1);
    --secondary: rgba(245, 245, 245, 1);
    --button-2: rgba(219, 68, 68, 1);
    --title-14px-regular-font-family: "Poppins", Helvetica;
    --title-14px-regular-font-weight: 400;
    --title-14px-regular-font-size: 14px;
    --title-14px-regular-letter-spacing: 0px;
    --title-14px-regular-line-height: 21px;
    --title-14px-regular-font-style: normal;
    --heading-24px-bold-font-family: "Inter", Helvetica;
    --heading-24px-bold-font-weight: 700;
    --heading-24px-bold-font-size: 24px;
    --heading-24px-bold-letter-spacing: 0.72px;
    --heading-24px-bold-line-height: 24px;
    --heading-24px-bold-font-style: normal;
    --title-16px-regular-font-family: "Poppins", Helvetica;
    --title-16px-regular-font-weight: 400;
    --title-16px-regular-font-size: 16px;
    --title-16px-regular-letter-spacing: 0px;
    --title-16px-regular-line-height: 24px;
    --title-16px-regular-font-style: normal;
    --title-12px-regular-font-family: "Poppins", Helvetica;
    --title-12px-regular-font-weight: 400;
    --title-12px-regular-font-size: 12px;
    --title-12px-regular-letter-spacing: 0px;
    --title-12px-regular-line-height: 18px;
    --title-12px-regular-font-style: normal;
    --heading-24px-semibold-font-family: "Inter", Helvetica;
    --heading-24px-semibold-font-weight: 600;
    --heading-24px-semibold-font-size: 24px;
    --heading-24px-semibold-letter-spacing: 0.72px;
    --heading-24px-semibold-line-height: 24px;
    --heading-24px-semibold-font-style: normal;
    --heading-24px-regular-font-family: "Inter", Helvetica;
    --heading-24px-regular-font-weight: 400;
    --heading-24px-regular-font-size: 24px;
    --heading-24px-regular-letter-spacing: 0.72px;
    --heading-24px-regular-line-height: 24px;
    --heading-24px-regular-font-style: normal;
    --heading-20px-regular-font-family: "Inter", Helvetica;
    --heading-20px-regular-font-weight: 400;
    --heading-20px-regular-font-size: 20px;
    --heading-20px-regular-letter-spacing: 0.6px;
    --heading-20px-regular-line-height: 20px;
    --heading-20px-regular-font-style: normal;
    --title-20px-medium-font-family: "Poppins", Helvetica;
    --title-20px-medium-font-weight: 500;
    --title-20px-medium-font-size: 20px;
    --title-20px-medium-letter-spacing: 0px;
    --title-20px-medium-line-height: 28px;
    --title-20px-medium-font-style: normal;
    --title-16px-medium-font-family: "Poppins", Helvetica;
    --title-16px-medium-font-weight: 500;
    --title-16px-medium-font-size: 16px;
    --title-16px-medium-letter-spacing: 0px;
    --title-16px-medium-line-height: 24px;
    --title-16px-medium-font-style: normal;
    --title-16px-semibold-font-family: "Poppins", Helvetica;
    --title-16px-semibold-font-weight: 600;
    --title-16px-semibold-font-size: 16px;
    --title-16px-semibold-letter-spacing: 0px;
    --title-16px-semibold-line-height: 20px;
    --title-16px-semibold-font-style: normal;
    --title-14px-semibold-font-family: "Poppins", Helvetica;
    --title-14px-semibold-font-weight: 600;
    --title-14px-semibold-font-size: 14px;
    --title-14px-semibold-letter-spacing: 0px;
    --title-14px-semibold-line-height: 21px;
    --title-14px-semibold-font-style: normal;
    --title-12px-medium-font-family: "Poppins", Helvetica;
    --title-12px-medium-font-weight: 500;
    --title-12px-medium-font-size: 12px;
    --title-12px-medium-letter-spacing: 0px;
    --title-12px-medium-line-height: 18px;
    --title-12px-medium-font-style: normal;
  }
  