.log-in {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-in .div {
    background-color: var(--bg);
    width: 1440px;
    height: 1743px;
    position: relative;
  }
  
  .log-in .top-header {
    position: absolute;
    width: 1440px;
    height: 48px;
    top: 0;
    left: 0;
    background-color: var(--button);
  }
  
  .log-in .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 231px;
    position: relative;
    top: 12px;
    left: 401px;
  }
  
  .log-in .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .summer-sale-for-all {
    position: relative;
    width: 474px;
    height: 18px;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .log-in .shop-now {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--text);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .log-in .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .english {
    position: relative;
    width: fit-content;
    font-family: var(--title-14px-regular-font-family);
    font-weight: var(--title-14px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-14px-regular-font-size);
    letter-spacing: var(--title-14px-regular-letter-spacing);
    line-height: var(--title-14px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-14px-regular-font-style);
  }
  
  .log-in .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .log-in .header {
    display: inline-flex;
    align-items: center;
    gap: 210px;
    position: absolute;
    top: 86px;
    left: 135px;
  }
  
  .log-in .frame-4 {
    display: inline-flex;
    align-items: flex-start;
    gap: 232px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .logo {
    position: relative;
    width: 118px;
    height: 24px;
  }
  
  .log-in .text-wrapper {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--heading-24px-bold-font-family);
    font-weight: var(--heading-24px-bold-font-weight);
    color: var(--text-2);
    font-size: var(--heading-24px-bold-font-size);
    letter-spacing: var(--heading-24px-bold-letter-spacing);
    line-height: var(--heading-24px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-bold-font-style);
  }
  
  .log-in .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .div-wrapper {
    position: relative;
    width: 48px;
    height: 24px;
  }
  
  .log-in .home {
    position: absolute;
    top: -1px;
    left: 3px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }

  .log-in .home:hover{
    background-color: #ffffff;
  transform: scale(1.20);
  cursor: pointer;
  transition: transform 0.2s
  }
  
  .log-in .contact-wrapper {
    position: relative;
    width: 66px;
    height: 24px;
  }
  
  .log-in .contact {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .about {
    position: absolute;
    top: -1px;
    left: 1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .sign-up-wrapper {
    position: relative;
    width: 61px;
    height: 24px;
  }
  
  .log-in .sign-up {
    position: absolute;
    top: -1px;
    left: 9px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }

  .log-in .sign-up:hover{
    background-color: #ffffff;
    transform: scale(1.20);
    cursor: pointer;
    transition: transform 0.2s
  }
  
  .log-in .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .search-component-set {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 12px 7px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--secondary);
    border-radius: 4px;
  }
  
  .log-in .frame-7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .what-are-you-looking {
    position: relative;
    width: fit-content;
    opacity: 0.5;
    font-family: var(--title-12px-regular-font-family);
    font-weight: var(--title-12px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-12px-regular-font-size);
    letter-spacing: var(--title-12px-regular-letter-spacing);
    line-height: var(--title-12px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-12px-regular-font-style);
  }
  
  .log-in .line {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 140px;
    left: 0;
    background-image: url(https://c.animaapp.com/ZagOYm2H/img/line-3-1.png);
    background-size: 100% 100%;
  }
  
  .log-in .frame-8 {
    display: inline-flex;
    align-items: center;
    gap: 129px;
    position: absolute;
    top: 200px;
    left: 0;
  }
  
  .log-in .side-image {
    position: relative;
    width: 805px;
    height: 781px;
    background-color: #cbe4e8;
    border-radius: 0px 4px 4px 0px;
    overflow: hidden;
  }
  
  .log-in .dl-beatsnoop {
    position: absolute;
    width: 805px;
    height: 706px;
    top: 75px;
    left: 0;
  }
  
  .log-in .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .frame-11 {
    gap: 24px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-36px-medium-font-family);
    font-weight: var(--heading-36px-medium-font-weight);
    color: var(--text-2);
    font-size: var(--heading-36px-medium-font-size);
    letter-spacing: var(--heading-36px-medium-letter-spacing);
    line-height: var(--heading-36px-medium-line-height);
    white-space: nowrap;
    font-style: var(--heading-36px-medium-font-style);
  }
  
  .log-in .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .frame-12 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .frame-12 >input {
    position: relative;
    width: 250px;
    margin-top: -1px;
    opacity: 0.4;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }

  .frame-9 >input {
    position: relative;
    width: 250px;
    margin-top: -1px;
    opacity: 0.4;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }

  .log-in .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    opacity: 0.4;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text-2);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .under-line {
    position: relative;
    width: 370px;
    height: 1px;
    opacity: 0.5;
    background-image: url(https://c.animaapp.com/ZagOYm2H/img/line-1-5.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .log-in .frame-13 {
    display: inline-flex;
    align-items: center;
    gap: 87px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .frame-14 {
    gap: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 48px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--button-2);
    border-radius: 4px;
  }
  
  .log-in .view-all-products {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-medium-font-family);
    font-weight: var(--title-16px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-16px-medium-font-size);
    letter-spacing: var(--title-16px-medium-letter-spacing);
    line-height: var(--title-16px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-medium-font-style);
  }
  
  .log-in .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--secondary-2);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .footer {
    position: absolute;
    width: 1440px;
    height: 440px;
    top: 1303px;
    left: 0;
    background-color: var(--button);
  }
  
  .log-in .frame-15 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 376px;
    left: 0;
    opacity: 0.4;
  }
  
  .log-in .under-line-2 {
    position: relative;
    width: 1440px;
    height: 1px;
    margin-top: -1px;
    opacity: 0.5;
    background-image: url(https://c.animaapp.com/ZagOYm2H/img/line-1-6.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .log-in .frame-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
    opacity: 0.6;
  }
  
  .log-in .frame-16 {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .log-in .icon-copyright {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .log-in .copyright-rimel {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--primary);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .frame-17 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 87px;
    position: absolute;
    top: 80px;
    left: 135px;
  }
  
  .log-in .exclusive {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--heading-24px-bold-font-family);
    font-weight: var(--heading-24px-bold-font-weight);
    color: var(--text);
    font-size: var(--heading-24px-bold-font-size);
    letter-spacing: var(--heading-24px-bold-letter-spacing);
    line-height: var(--heading-24px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-bold-font-style);
  }
  
  .log-in .subscribe {
    position: relative;
    width: fit-content;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
  }
  
  .log-in .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .send-mail {
    display: flex;
    width: 217px;
    align-items: center;
    gap: 32px;
    padding: 12px 0px 12px 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    border: 1.5px solid;
    border-color: var(--text);
  }
  
  .log-in .enter-your-email {
    position: relative;
    width: fit-content;
    margin-top: -1.5px;
    opacity: 0.4;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .icon-send {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: -3px;
  }
  
  .log-in .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
  }
  
  .log-in .element-bijoy-sarani {
    position: relative;
    width: 175px;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
  }
  
  .log-in .frame-18 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .button:hover {
    background-color: var(--button-2);
    transform: scale(1.20);
    cursor: pointer;
    transition: transform 0.2s;
  }

  .text-wrapper-6:hover {
    background-color: #000000;
    transform: scale(1.20);
    cursor: pointer;
    transition: transform 0.2s;
  }